[submodule "anity-hub"]
	path = anity-hub
	url = https://github.com/neko233-com/anity-hub.git
[submodule "anity-lib-core"]
	path = anity-lib-core
	url = https://github.com/neko233-com/anity-lib-core.git
[submodule "anity-editor"]
	path = anity-editor
	url = https://github.com/neko233-com/anity-editor.git
[submodule "anity-webgl"]
	path = anity-webgl
	url = https://github.com/neko233-com/anity-webgl.git
